@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.container {
    display: none;
}

.main-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 100;
}

.characters-list {
    display: none;
    position: absolute;
    width: 16%;
    height: 55%;
    right: 1%;
    top: -41%;
}

.character {
    width: 99%;
    height: 80px;
    font-family: 'Bebas Neue';
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    transition: .1s linear;
    cursor: grab;
}

.character>span {
    color: #ededed;
    font-family: 'Bebas Neue';
}

#cid {
    font-family: 'Bebas Neue';
    color: #ededed;
    position: relative;
    float: right;
    font-size: 1.5vh;
    right: 35px;
    line-height: 35px;
}

.char-selected {
    background: linear-gradient(to right top, #1c63a5a6, #04547faf, #05465fd3, #063844ce, #082c318a);
    box-shadow: 0px -5px 87px 15px rgba(6, 166, 202, 0.48);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.disabled {
    background-color: rgba(0, 0, 0, 0.521);
}

#slot-name {
    position: relative;
    color: #ededed;
    font-size: 17px;
    line-height: 100px;
    left: 20px;
    font-family: 'Bebas Neue';
}

.character-btn {
    position: relative;
    top: 90%;
    left: 45%;
    transition: 0.2s;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    padding: 20px;
}

.character-btn>p {
    color: #ededed;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 17px;
}

#play {
    display: none;
    background: linear-gradient(to right top, #142339, #0a2334, #05222e, #052027, #081e21);
    border-radius: 50%;
    transition: all 0.6s ease;
}

#play:hover {
    background: linear-gradient(to right top, #3a63a0a6, #04547faf, #00435dd3, #00303cce, #081e218a);
    box-shadow: 0px -5px 15px 4px  rgba(35,151,176,0.48);
}

#delete {
    display: none;
    background: linear-gradient(to right top, #142339, #0a2334, #05222e, #052027, #081e21);
    border-radius: 50%;
    transition: all 0.6s ease;
}

#delete:hover {
    background: linear-gradient(to right top, #3a63a0a6, #04547faf, #00435dd3, #00303cce, #081e218a);
    box-shadow: 0px -5px 25px 4px  rgba(35,151,176,0.48);
}

.character-info {
    display: none;
    position: absolute;
    width: 14%;
    height: 28%;
    left: 1%;
    top: -37%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    overflow: visible !important;
    animation: upfront 0.5s ease-in;
    transition: opacity .3s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

#no-char {
    position: absolute;
    color: #ededed;
    left: 10%;
    font-family: 'Bebas Neue';
    font-size: 20px;
}

.character-info-valid {
    position: relative;
    top: 20%;
    overflow: visible !important;
}

.character-info-box {
    position: relative;
    font-size: 16px;
    width: 99%;
    height: 3.2vh;
    margin-bottom: 12px;
}

.char-info-js {
    position: absolute;
    left: 14%;
    color: #ededed;
    font-family: 'Bebas Neue';
    font-size: 16px;
}

.character-delete {
    display: none;
    position: absolute;
    width: 33vh;
    height: 12vh;
    bottom: 5%;
    left: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(23 23 23 / 80%);
    padding: 30px;
    font-family: 'Bebas Neue';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ededed;
    font-family: 'Bebas Neue';
    overflow: visible !important;
}

.characters-delete-block-header {
    position: absolute;
    width: 100%;
    height: 11%;
    color: #ededed;
    text-align: left;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    overflow: visible !important;
}

.characters-delete-block-header>p {
    font-family: 'Bebas Neue';
    overflow: visible !important;
}

.character-delete>p {
    padding-top: 50px;
    font-family: 'Bebas Neue';
    font-size: 12px;
    overflow: visible !important;
}

#yeet {
    overflow: visible !important;
}

.character-acceptdel-btn {
    position: absolute;
    width: 42%;
    height: 19%;
    bottom: 0;
    left: 5%;
    margin-bottom: 20px;
    background-color: #07d6c8;
    border-radius: 4px;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-canceldel-btn {
    position: absolute;
    width: 43%;
    height: 19%;
    bottom: 0;
    right: 5%;
    margin-bottom: 20px;
    background-color: #07d6c8;
    border-radius: 4px;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-acceptdel-btn>p {
    color: #ededed;
    text-align: center;
    padding-top: 1vh;
    font-family: 'Bebas Neue';
    overflow: visible !important;
    font-weight: 100;
    text-transform: uppercase;
}

.character-canceldel-btn>p {
    color: #ededed;
    text-align: center;
    padding-top: 1vh;
    font-family: 'Bebas Neue';
    overflow: visible !important;
    font-weight: 100;
    text-transform: uppercase;
}

.character-register {
    display: none;
    position: relative;
    width: 25%;
    height: 32%;
    top: 125%;
    margin-left: auto;
    margin-right: auto;
    left: 32px;
    background: url(https://cdn.discordapp.com/attachments/588376933717245972/944066965163622400/background.png);
    background-size: cover;
    border-radius: .8vh;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i#close-reg {
    cursor: pointer;
}

.material-icons-one {
    margin-left: 39.5vh;
    color: #ededed;
    background-color: #11ffee;
    font-size: 1.3vh;
    font-weight: 900;
    border-radius: .3vh;
    padding: .3vh;
}

.char-register-inputs {
    position: absolute;
    top: 14%;
    overflow: visible !important;
}

.char-reg-input {
    position: relative;
    float: left;
    margin-top: 1vh;
    border: none;
    background-color: #046168;
    outline: none;
    width: 92%;
    height: 3vh;
    color: #ededed;
    max-width: 100%;
    font-weight: 900;
    padding: 4px;
    border-radius: .3vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

select {
    position: absolute;
    border: none;
    background-color: #171717;
    outline: none;
    width: 93.5%;
    height: 4vh;
    top: 21vh;
    left: .1vh;
    color: #ededed;
    max-width: 100%;
    padding: 4px;
    font-family: 'Bebas Neue';
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

select:hover {
    background-color: rgba(34, 34, 34, 0.808);
}

select:focus {
    background-color: rgba(34, 34, 34, 0.808);
}

#gender option {
    background-color: transparent;
    border: none;
    outline: none;
}

select::placeholder {
    text-align: center;
}

select::-ms-expand {
    display: none;
}

.char-reg-input::placeholder {
    color: rgba(255, 255, 255, 0.52);
}

input[type="date"] {
    font-family: 'Bebas Neue';
    color: #ededed;
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

#birthdate {
    font-family: 'Bebas Neue';
    color: #ededed;
    text-align: center;
}

.character-reg-btn {
    position: absolute;
    width: 92%;
    height: 4vh;
    background-color: #11ffee;
    border-radius: .3vh;
    bottom: 3vh;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
}

.character-reg-btn>p {
    text-align: center;
    line-height: 4vh;
    color: #ededed;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 2vh;
}

.loading-rondje {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translateY(-50%);
    text-align: center;
    padding: 1vh;
}

.loading-rondje > p {
    color: white;
    margin-top: 1vh;
    font-family: 'Bebas Neue';
    text-shadow: 1px 1px 0px #00000085;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}